<!DOCTYPE HTML>
<html>
<head>
<title>Login</title>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<link href="/static/registration/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!-- -->
<script>var __links = document.querySelectorAll('a');function __linkClick(e) { parent.window.postMessage(this.href, '*');} ;for (var i = 0, l = __links.length; i < l; i++) {if ( __links[i].getAttribute('data-t') == '_blank' ) { __links[i].addEventListener('click', __linkClick, false);}}</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>$(document).ready(function(c) {
	$('.alert-close').on('click', function(c){
		$('.message').fadeOut('slow', function(c){
	  		$('.message').remove();
		});
	});	  
});
</script>
</head>
<body>
<!-- contact-form -->	
	<div class="message warning">
		<div class="inset">
			<div class="login-head">
				<h1><img src="/static/logo.png"></h1>
			</div>
			<form>
				<div style="color: red;">The username: <div style="background-color: red; color: white;">{{username}}</div> or the email: <div style="background-color: red; color: white;">{{email}}</div> is wrong!</div>
				<div class="clear"> </div>
				<div class="submit">
					<h4><a href="/accounts/login/" style="text-align: left;">Login</a></h4>
					<h4 style="display: inherit;"><a href="/accounts/register/status/forgotpw/" style="text-align: right;">Forgot password?</a></h4>
							  <div class="clear"></div>	
				</div>
			</form>
		</div>					
	</div>
	<div class="clear"> </div>
	<div class="footer">
<!-- 		<p>Template by <a href="http://w3layouts.com">w3layouts</a></p>
 -->	</div>
</body>
</html>